body,
html {
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
}

.bg {
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./code.jpg");
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg * {
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  padding: 4em;
}

.container pre {
  background-color: gray;
  color: white;
  padding: 1em;
}

footer {
  padding: 4em;
  height: 200px;
  background-color: black;
}

footer * {
  color: white;
}
