.card {
    width: 500px;
    height: auto;
    background-color: black;
    border-radius: 5px;
    color: white;
    padding-bottom: 1em;
}

.card-img {
    height: 200px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
}

.card h2, p {
    margin-left: 30px;
    margin-right: 30px;
}