body {
  margin: 0;
}

body * {
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  background-color: black;
  padding: 1em;
  color: white;
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li{
  margin: 0 1em;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: red;
}

.container {
  padding: 4em;
}

.row {
  max-height: 500px;
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
}

.col {
  width: 100%;
}

.col-50 {
  width: 50%;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

@media only screen and (max-width: 600px) {
  .nav ul {
    display: block;
  }
}
