body, html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0)),
  url('laptop-coffee.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  height: 100%;
  color: white;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin: 0;
}

nav ul div{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 1em;
}

nav ul li {
  list-style: none;
  margin: 0 1em;
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0;
}

.nav-logo {
  font-size: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  padding: 4em;
}
