body,
html {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #00909e, #dae1e7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-container {
  text-align: center;
  width: 100vw;
  color: #fff;
  padding: 25px;
}

.search-container input {
  padding: 1em;
  border-radius: 10px;
  border: none;
}

.search-container input[type="text"] {
  min-width: 300px;
  margin-bottom: 25px;
}
