body{
  font-family: sans-serif;
}

.team-card {
  /* this looked nice so I threw it in https://codepen.io/sdthornton/pen/wBZdXq */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12),
      0 2px 4px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  width: 250px;
  text-align: center;
  margin: 2em 0 0 0;
  padding: 2em;
}

.team-card img {
  border-radius: 50%;
  height: 200px;
}
