* {
    margin: 0;
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.container {
    padding: 0 4em 0 4em;
    padding-top: 70px;
}

.container * {
    margin-top: 1em;
}

.container h2 {
    margin-top: 2em;
}

/* header image block */
.header-image {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url("car-on-road.jpg");
    /* https: //www.pexels.com/photo/top-view-photo-of-curved-road-surrounded-by-trees-1834403/ */
    height: 50%;
    padding: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* align h1 vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-image h1 {
    color: white;
}
